.purchase-container {
  display: flex;
  background-color: chocolate;
  flex-direction: row;
}
.item-div {
  display: flex;
  flex-direction: column;
  background-color: chartreuse;
  width: 200px;
  padding: 50px;
}
/* @media (max-width: 700px) {
  .purchase-container {
    display: flex;
    flex-direction: column;
  }
} */
@media (max-width: 1330px) {
  .purchase-container {
    display: flex;
    flex-direction: column;
  }
}
